/* Application Styles */

body {
    padding-top: 50px;
    overflow-x: hidden
}

*::-webkit-scrollbar {
    width: 0.75em;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid gray;
}

.diapo:nth-of-type(1) {
    background-image: url(../imgs/HBackground.jpg);
}

.diapo:nth-of-type(2) {
    background-image: url(../imgs/ABackground.jpg);
}

.diapo:nth-of-type(3) {
    background-image: url(../imgs/BBackground.jpg)
}

.diapo:nth-of-type(4) {
    background-image: url(../imgs/CBackground.jpg)
}

.diapo {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 40%;
}

.starter-template {
    background-color: hsla(0, 100%, 100%, 0.4);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 40px 15px 10px;
    text-align: center;
    width: 50%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3em;
    margin-bottom: 1em;
}

.home {
    margin-left: 2em;
    margin-right: 0
}

.term:not(:last-child):after {
    content: " | "
}

.about {
    margin-left: 0;
    margin-right: 2em;
    float: right;
}

.about p {
    text-align: justify
}

.blog,
.contact {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

.t1 {
    text-align: center
}

.t1,
.t2,
.t3,
.t4 {
    opacity: 0
}

.starter-template h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em
}

.home-brief {
    text-align: justify;
    margin-bottom: 2em
}

i.left {
    margin-right: 0.5em;
    margin-left: -0.5em
}

.socialHome {
    margin: 4em auto
}

.socialHome i.left {
    margin-left: 0
}

blockquote {
    font-family: 'Bad Script', cursive;
    font-size: 1.6em;
    line-height: 1.5em;
    margin: 0 auto 2em !important;
    text-align: justify;
    border-left-color: #1976d2
}

.about p.lead {
    font-size: 1.2em;
}

.blog .row {
    margin: 0 !important
}

.about h1.t1 {
    margin-bottom: 0
}

.about blockquote {
    margin: -0.25em auto 0.25em !important;
    border-left-color: #455a64
}

.blog blockquote {
    border-left-color: #2e7d32
}

.blog-snips h2 a {
    color: #212121
}

.blog-snips h2 a:hover {
    color: #454543
}

.marginRow {
    height: 4em !important;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0
    }
    .starter-template {
        background-color: hsla(0, 100%, 100%, 0.6);
        width: 90%;
        margin: 1em auto !important;
        float: none;
    }
    .socialHome {
        margin: 2em auto
    }
    blockquote {
        line-height: 1.4em;
        font-size: 1.4em;
        text-align: justify
    }
    .home-brief {
        margin-bottom: 1em
    }
    i.left {
        margin-right: 6px;
    }
    .term {
        width: 100%;
        display: block;
        clear: both;
        text-align: center;
        margin: 0.2em auto
    }
    .term:not(:last-child):after{
        content: ""
    }
    .row>span>a {
        display: block;
        width: 60%;
        margin: 0 auto;
        font-family: monospace;
    }
    .blog .row>span>a {
        width: 70%
    }
    .blog h2 {
        font-size: 3rem
    }
}
