/* Application Styles */
.curtain {
	position: fixed;
	z-index: 999999;
	height: 100%;
	width: 100%;
	background: #f0f8ff;
	top: 0;
	margin: auto
}
.progress {
	top: 50%;
}
body {
	padding-top: 50px;
}
.diapo:nth-of-type(1) {
	background-image: url(../imgs/HBackground.jpg);
	
}
.diapo:nth-of-type(2) {
	background-image: url(../imgs/ABackground.jpg);
}
.diapo:nth-of-type(3) {
	background-image: url(../imgs/BBackground.jpg)
}
.diapo:nth-of-type(4) {
	background-image: url(../imgs/CBackground.jpg)
}
.diapo, section.menu {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 40%;
}
.starter-template {
	background-color: hsla(0, 100%, 100%, 0.4);
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 40px 15px 0px;
	text-align: center;
	width: 50%;
	color: black;
	font-family: 'Open Sans', sans-serif;
	margin-top: 3em;
	margin-bottom: 1em;
}
.home {
	margin-left: 2em;
	margin-right: 0
}
.about {
	margin-left: 0;
	margin-right: 2em;
	float: right
}
.blog, .contact {
	width: 90%;
	margin-left: auto;
	margin-right: auto
}
.t1, .t2, .t3, .t4 {
	opacity: 0
}
.starter-template h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 5em
}
.home-brief {
	text-align: justify
}
.latest-blog-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em !important;
	margin: 0 auto !important
}
.latest-blog-gist {
	font-family: 'Bad Script', cursive;
	font-size: 1.6em;
	line-height: 1.5em;
	margin: 0 auto !important
}
.menu-button {
	position: fixed;
	left: calc(50% - 40px);
	top: calc(100% - 90px);
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 0.66);
	border: 1px solid #F5F5F5;
	border-radius: 50%;
	padding: 8px;
	margin: auto;
	-webkit-animation: glow 4s infinite;
	animation: glow 4s infinite linear;
	box-shadow: 0 0 4px 4px black;
	cursor: pointer;
	z-index: 1002
}
.menu-button:focus {
	cursor: drag;
}
.menu-button span {
	text-align: center;
	font-size: 3.1em;
	display: block;
	margin-top: 0.15em;
	margin-left: 0.1em
}
ul {
	list-style: none
}
.pagination {
	position: fixed;
	right: 1em;
	top: 40%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 1em;
	z-index: 1000;
}
.pagination li {
	display: block;
	height: 20px;
	margin-bottom: 5px;
	color: transparent;
	position: relative;
	padding: 4px;
}
.pagination li:hover,
.pagination li a:hover,
.pagination li a.active,
.pagination li a:focus {
	background-color: transparent
}
.pagination li a:focus {
	
}
.pagination li a {
	background: transparent;
	border: none
}
.pagination a.active {
	color: dodgerblue
}
.pagination a.active:after {
	box-shadow: inset 0 0 0 5px;
}
.pagination a .hover-text {
	position: absolute;
	left: -65px;
	top: -14px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid;
	border-radius: 50%;
	content: '';
	position: absolute;
	margin: auto;
	top: 0;
	right: 4px;
	bottom: 0;
}
section.menu {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	padding-top: 5em;
	background-image: url('../imgs/MBackground.jpg');
	z-index: 1001
}
.menu ul.collection {
	margin-top: 4em;
	width: 12em;
	margin: auto;
	height: 80%;
	border: none;
}
.menu ul.collection li {
	background: none;
	border: none
}
.menu ul.collection .title {
	font-size: 2em !important;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.6em
}
@media screen and (max-width: 768px) {
	.starter-template {
		width: 90%;
		margin-right: auto;
	}
}
@-webkit-keyframes glow {
	from {
		background: rgba(255, 255, 255, 0.66);
	}
	to {
		background: #F5F5F5;
	}
}
@keyframes glow {
	0% {
		background: rgba(255, 255, 255, 0.66);
	}
	50% {
		background: #F5F5F5;
	}
	100% {
		background: rgba(255, 255, 255, 0.66);
	}
}