/* Application Styles */

body {
	padding-top: 50px;
	background-image: url('../imgs/Background.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 40%;
}
.starter-template {
	background-color: hsla(0, 100%, 100%, 0.4);
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 40px 15px 0px;
	margin: 4em auto 1em;
	margin-right: 0;
	text-align: center;
	width: 50%;
	color: black;
	font-family: 'Open Sans', sans-serif;
}
.starter-template h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 5em
}
.home-brief {
	text-align: justify
}
.latest-blog-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em !important
}
.latest-blog-gist {
	font-family: 'Bad Script', cursive;
	font-size: 1.6em;
	line-height: 1.5em;
}
.menu-button {
	position: fixed;
	left: calc(50% - 40px);
	top: calc(100% - 80px);
	width: 80px;
	height: 80px;
	background: rgba(255, 255, 255, 0.66);
	border: 1px solid #F5F5F5;
	border-radius: 50%;
	padding: 8px;
	margin: auto;
	-webkit-animation: glow 4s infinite;
	animation: glow 4s infinite linear;
	box-shadow: 0 0 4px 4px black;
	cursor: -webkit-grab;
	cursor: grab
}
.menu-button span {
	text-align: center;
	font-size: 3.1em;
	display: block;
	margin-top: 0.15em;
	margin-left: 0.1em
}
ul {
	list-style: none
}
.pagination {
	position: fixed;
	left: 20px;
	top: 45%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 1em;
	z-index: 1000;
}
.pagination li {
	display: block;
	height: 20px;
	margin-bottom: 5px;
	color: transparent;
	position: relative;
	padding: 4px;
}
.pagination li:hover,
.pagination li a:hover,
.pagination li a.active,
.pagination li a:focus {
	background-color: transparent
}
.pagination li a:focus {
	
}
.pagination li a {
	background: transparent;
	border: none
}
.pagination a.active:after {
	box-shadow: inset 0 0 0 5px;
}
.pagination a .hover-text {
	position: absolute;
	left: 35px;
	top: -5px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pagination a:hover .hover-text {
	opacity: 1;
}
.pagination a:after {
	-webkit-transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
	width: 10px;
	height: 10px;
	display: block;
	border: 1px solid;
	border-radius: 50%;
	content: '';
	position: absolute;
	margin: auto;
	top: 0;
	right: 4px;
	bottom: 0;
}
@media screen and (max-width: 768px) {
	.starter-template {
		width: 90%;
		margin-right: auto;
	}
}
@-webkit-keyframes glow {
	from {
		background: rgba(255, 255, 255, 0.66);
	}
	to {
		background: #F5F5F5;
	}
}
@keyframes glow {
	0% {
		background: rgba(255, 255, 255, 0.66);
	}
	50% {
		background: #F5F5F5;
	}
	100% {
		background: rgba(255, 255, 255, 0.66);
	}
}