/* Application Styles */
body {
    padding-top: 0px;
    overflow-x: hidden;
    height: 100%;
    margin: 0 auto;
}

/*Loader Style*/
#loader {
    background: white;
    background-image: url('../imgs/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

/*Scrollbar Styles*/
*::-webkit-scrollbar {
    width: 0.75em;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
    background-color: black;
    outline: 1px solid gray;
}

/*Section Pane Styles*/
.diapo {
    background-image: url(../imgs/CBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
}

/*Content Division Styles*/
.starter-template {
    background-color: hsla(0, 100%, 100%, 0.4);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 40px 15px 10px;
    width: 90%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 2em auto;
}
.starter-template h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em
}
.t1 {
    text-align: center
}
blockquote {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.36em;
    line-height: 1.5em;
    margin: 0 auto 2em !important;
    text-align: justify;
    border-left-color: #1976d2
}

/*First Section (Home) Styles*/
.home-brief {
    text-align: center;
    margin-bottom: 2em
}
.home .t3 a {
    padding: 0 1em;
    min-width: 11rem;
    width: 100%
}