/* Application Styles */
body {
    padding-top: 0;
    height: 100%;
    overflow-x: hidden;
}

/*Section Pane Styles*/
.diapo:nth-of-type(1) {
    background-image: url(../imgs/HBackground_m.jpg);
    z-index: 997;
}
.diapo:nth-of-type(2) {
    background-image: url(../imgs/ABackground_m.jpg);
    z-index: 998;
}
.diapo:nth-of-type(3) {
    background-image: url(../imgs/BBackground_m.jpg);
    z-index: 999;
}
.diapo:nth-of-type(4) {
    background-image: url(../imgs/CBackground.jpg);
    z-index: 1000;
}
.diapo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: sticky;
    top: 0;
}

/*Content Division Styles*/
.starter-template {
    background-color: hsla(0, 100%, 100%, 0.4);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 15px 10px;
    text-align: center;
    width: 100%;
    color: black;
    font-family: 'Open Sans', sans-serif;
    margin: 6em auto 1em;
    overflow-y: scroll !important;
    overflow-x: hidden;
}
.starter-template h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5em
}
.t1 {
    text-align: center;
    margin-top: 0
}
blockquote {
    font-family: 'Bad Script', cursive;
    font-size: 1.36em;
    line-height: 1.5em;
    margin: 0 auto 2em !important;
    text-align: justify;
    border-left-color: #1976d2
}
.label{
    text-align: center;
    font-size: 1em;
    vertical-align: text-top;
}

/*First Section (Home) Styles*/
.home-brief {
    text-align: center;
    margin-bottom: 2em
}
.home .t3 a {
    font-size: 0.8rem;
    padding: 0 1rem;
    min-width: 9rem;
    width: 100%
}
.home i._left {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    font-size: 1.1rem
}
.home i._left.first{
    margin-right: -0.8rem;
}
.marginRow {
    height: 4em !important;
}

/*Second Section (About) Styles*/
.about .row.center-block {
    margin-left: -0.5rem
}
.about .t1 a {
    padding: 0 1em;
    min-width: 6.3rem;
    font-size: 0.8rem;
    text-align: center;
    width: 100%
}
.about .t1 a.interests {
    min-width: 6.5rem;
    padding-left: 1.2em
}
.about .t1 a.ideas {
    padding-left: 1.8em
}
.about i._left {
    margin-left: -0.6rem;
    margin-right: -0.8rem;
}
.about i._left.second {
    margin-right: -0.4rem;
}
.about p.lead {
    font-size: 1.2em;
    text-align: justify
}
.about blockquote {
    margin: -0.25em auto 0.5em !important;
    border-left-color: #455a64
}

/*Third Section (Work experience) Styles*/
.projDesc {
    font-family: Raleway
}
.proj .row.center-block {
    margin: 0 !important
}
.proj .center-block a {
    padding: 0 1em;
    min-width: 14.2rem;
    width: 100%;
    margin-bottom: 0.5rem
}
.proj .center-block a .label {
    vertical-align: initial;
}
.proj .center-block a i.mdi {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
}
.proj blockquote {
    border-left-color: #2e7d32;
    font-size: 1.14rem;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
}
.proj-snips h2 {
    font-size: 2.4rem
}
.proj-snips h2 a {
    color: #212121;
}

/*Fourth Section (Contact) Styles*/
.socialHome {
    margin: 2em auto 6em
}
.socialHome a.btn-floating.btn-large {
    width: 50px;
    height: 50px
}
.socialHome span.col-xs-2 {
    padding: 0
}
.socialHome i.left {
    margin-left: 0
}
.socialHome i.left:hover {
    color: black;
    transition-duration: 0.4s
}