input:focus { 
  outline: none !important;
  border-color: white;
}

.core-terminal {
  width: 50%;
  margin: 20px auto;
  padding: 15px;
}

.core-buffer {
  font: 1em;
}

.core-prompt {
  font-size: 1em;
  color: #2db82d;
  background: transparent;
  border: none;
  border-bottom: 2px solid greenyellow;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: 'Ubuntu', sans-serif; */
  margin-top: -1px;
  padding-left: 0;
}

.buffer-line {
  color: #2db82d;
}

.buffer-line p {
  margin-top: 0;
  margin-bottom: 0;
}

.dollar {
  color: #2db82d;
  margin-right: 0.6em;
}

@media screen and (max-width: 768px) {
  .core-terminal {
    width: 90%;
    /* margin: ; */
  }
}
