body {
  margin: 20px;
}

.core-terminal {
  background-color: #606060;
  width: 50%;
  margin: 20px auto;
  padding: 15px;
}

.core-buffer {
  font: 1em monospace;
}

.core-prompt {
  font: 1em monospace;
  color: black;
}
